*{
box-sizing: border-box;
background-image: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

body{
 margin: 0;
 padding: 0; 
 overflow-x: hidden;
 min-height: 100vh;
 font-family: Arial, Helvetica, sans-serif;

}

.main{
margin-top: 150px;
width: 100%;
max-width: 100vw;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    letter-spacing: 2px;
    animation-name: bouncing;
    animation-duration: 2.5s ;
    cursor: grabbing;
}
.heading:hover{
    text-shadow: 1px 1px 2px lightblue, 0 0 25px blue, 0 0 15px darkblue;
    transition: 1s;
}
@keyframes bouncing{
    0%{
        transform: translateY(-200px);
    }
    50%{
        transform: translateY(-2px);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}

h1{
    color: whitesmoke;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 20px 12px 15px;

}

h3{
    color: whitesmoke;
    padding: 10px 10px 10px 10px;
    border: 1px solid;
    border-radius: 20px;
    cursor: not-allowed;
    display: inline-block;
    width: 40px;
}

.countdoun{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 100vw;
    padding: 0 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

button{
    padding: 10px 20px 12px 15px;
    border-radius: 20px;
    color: whitesmoke;
    border: 1px solid;
    cursor: pointer;
    font-size: large;
}

button:hover{
     transform: scaleX(1.2);
     text-shadow: 1px 1px 2px lightblue, 0 0 25px blue, 0 0 15px darkblue;
     transition: .5s ease-in-out;
}


.left-ani{
    animation-name: left-ani;
    animation-duration: 2s;
}

@keyframes left-ani {
    0%{
        transform: translate(-200px);
    }
}

.down-ani{
    animation-name: down-ani;
    animation-duration: 2s;
}

@keyframes down-ani{
    0%{
        transform: translateY(200px);
    }
}

.right-ani{
    animation-name: right-ani;
    animation-duration: 2s;
}

@keyframes right-ani{
    0%{
        transform: translate(200px);
    }
}